<%= erb :header %>

<h1>Feed</h1>
  <% @posts.each do |post| %>
    <h2><a href="/post/<%= post.id %>"><%= post.title %></a></h2>
        <p>Post: <%= post.content %></p>
        <p>Username:<a href="/user/<%= post.user.username %>"> <%= post.user.username %></a></p>
    <% end %>
