<%= erb :header %>

<h2><%= @user.fname %><%= @user.lname %>'s Page!</h2>

<h1>Account Details</h1>
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Password: <%= @user.password%></p>

<h2>Edit User</h2>
<form action="/user/<%= @user.id %>" method="post">
    <input type="hidden" name="_method" value="PUT">

    <input type="text" name="fname" value="<%= @post.fname %>">
    <br>
    <input type="text" name="lname" value="<%= @post.lname %>">
    <br>
    <input type="text" name="username" value="<%= @post.username %>">
    <br>
    <input type="text" name="email" value="<%= @post.email %>">
    <br>
    <input type="text" name="password" value="<%= @post.password %>"><br>

    <input type="submit" value="Update User Profile">
</form>


<% @posts.each do |post| %>
<h3><a href="/post/<%= post.id %>"><%= post.title %></a></h3>
  <p><%= post.content %></p>
<% end %>
